* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.outerGameArea {
  display: grid;
  grid-template-columns: 1fr 85vh 1fr;
  margin: auto;
  width: 90%;
  background-color: wheat;
}

.input {
  display: flex;
  background-color: rgba(80, 83, 87, 0.315);
  margin: 10px;
  text-align: center;
  justify-content: center;
}

.inputArea {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 75%;
  height: 2rem;
  font-size: 1.6rem;
}
.grid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 85vh;
  background-color: blue;
}

.square {
  text-align: center;
  content: none;
  padding-top: calc(100% - 4px);
  margin: 0;
  border: 2px solid black;
}

.gameButton {
  position: absolute;
  display: block;
  width: 50vh;
  height: 50vh;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 6.5vw;
  font-weight: 700;
  font-style: italic;
  overflow: hidden;
  color: white;
  border-radius: 50%;
  background-color: red;
  border: 10px solid black;
  outline: none;
  box-shadow: 0px 0px 8px 20px rgba(128, 128, 128, 0.801);
}
.gameButton.initial:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}
.gameButton.initial:hover {
  color: orange;
}
.gameButton.inplay {
  display: none;
}
.gameButton.final {
  background-color: rgba(153, 153, 153, 0.527);
  border: 2px solid black;
  border-radius: 0;
  box-shadow: unset;
  font-size: 4.5vw;
}
.gameOverButton.final:hover {
  color: orange;
}
.gameOverButton.final:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.bombed {
  background: radial-gradient(black, blue, blue);
}

.ship.bombed {
  background: radial-gradient(red, orange, grey, grey);
}

.ship.sunk {
  background: radial-gradient(red, orange, blue);
}
