* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: consolas, sans-serif;
}
h1 {
  margin: 10px;
  margin-top: 20px;
  font-size: 3rem;
}
.outerGameArea {
  display: grid;
  grid-template-columns: 1fr 85vh 1fr;
  margin: auto;
  width: 90%;
  align-items: center;
}
.input {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: rgba(80, 83, 87, 0.315);
  margin: 10px;
  padding: 10px;
}

.input h2 {
  font-size: 1.75rem;
}

.inputArea {
  text-align: center;
  margin: 0px auto;
  width: 100px;
  height: 2rem;
  font-size: 1.6rem;
}
.grid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 85vh;
  background-color: blue;
}

.gameButton {
  position: absolute;
  width: 50vh;
  height: 50vh;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  overflow: hidden;
  color: white;
  border-radius: 50%;
  background-color: red;
  border: 10px solid black;
  outline: none;
  box-shadow: 0px 0px 10px 15px rgba(128, 128, 128, 0.801);
}
.gameButton.initial:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}
.gameButton.initial:hover {
  color: orange;
}
@media only screen and (max-width: 1000px), (orientation: portrait) {
  .outerGameArea {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .grid {
    margin: auto;
    width: 95vw;
    max-width: 95vh;
  }
  .input {
    width: 100vw;
    margin: 10px auto;
  }
  .input h2 {
    width: 100vw;
    margin: 10px auto;
  }
  .gameButton {
    font-size: 1.5rem;
    width: 50vw;
    height: 50vw;
    max-height: 50vh;
    max-width: 50vh;
    border: 5px solid black;
    box-shadow: none;
  }
}

.square {
  padding-top: calc(50% - 2px - 11px);
  padding-bottom: calc(50% - 2px - 12px);
  margin: 0;
  border: 2px solid black;
  content: "";
  color: rgb(128, 128, 128);
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .square {
    padding-top: calc(50% - 2px - 7px);
    padding-bottom: calc(50% - 2px - 7px);
    font-size: 12px;
  }
  h1 {
    font-size: 2rem;
  }
  .input h2 {
    font-size: 1.4rem;
  }
}

.bombed .square p {
  content: " ";
}

.gameButton.inplay {
  display: none;
}
.gameButton.final {
  background-color: rgba(153, 153, 153, 0.527);
  border: 2px solid black;
  border-radius: 0;
  box-shadow: unset;
  font-size: 4.5vw;
}

.bombed {
  background: radial-gradient(black, blue, blue);
}

.ship.bombed {
  background: radial-gradient(red, orange, grey, grey);
}

.ship.sunk {
  background: radial-gradient(red, orange, blue);
}
